<style>

    body
    {
        background-image: url("https://static.pexels.com/photos/1240/road-street-blur-blurred.jpg");
        background-size: 1920px 1080px;
        background-repeat: no-repeat;
        text-align: center;
    }

    h1
    {
      color: transparent;
    }

    .home-link
    {
        text-decoration: none;
        font-size: 50px;
        padding: 0px 80px;
        color: #FFFFFF;
        text-align: center;
        font-family: sans-serif;
        background-color: transparent;
        border: none;
    }

    p
    {
        font-size: 30px;
        padding: 0px 80px;
        color: #FFFFFF;
        text-align: center;
        font-family: sans-serif;
        background-color: transparent;
        border: none;
    }

    .back-link
    {
      -webkit-transition-duration: 0.3s; /* Safari */
      transition-duration: 0.3s;
        text-decoration: none;
        position: relative;
        top: 95px;
        left: -235px;
        font-size: 15px;
        padding: 35px 22px;
        color: lightgrey;
        border-radius: 80px;
        text-align: center;
        font-family: sans-serif;
        background-color: white;
        border: 3px solid #FFFFFF;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }


    .back-link:hover
    {
        background-color: white;
        color: #212121;
        -webkit-transition-duration: 0.3s; /* Safari */
        transition-duration: 0.3s;
        cursor: pointer;
        padding: 35px 42px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .form-css
    {

        width: 35%;
        padding: 50px 55px;
        display: inline-block;
        border: 3px solid #FFFFFF;
        border-radius: 8px;
        color: white;
        font-family: sans-serif;
        font-size: 20px;
    }

    .lost-new
    {
        font-family: sans-serif;
        color: white;
        font-size: 20px;
    }

    table
    {
        background-color: white;
        width: 35%;
        padding: 30px 25px;
        display: inline-table;
        text-align: center;
        border: 3px solid #FFFFFF;
        border-radius: 8px;
        font-family: sans-serif;
        font-size: 20px;
        color: black;
    }

    .qsearch
    {
        text-decoration: none;
        font-size: 10px;
        padding: 5px 7px;
        color: white;
        border-radius: 10px;
        font-family: sans-serif;
        background-color: transparent;
        border: 3px solid #FFFFFF;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }


    .qsearch:hover
    {
        background-color: white;
        color: #212121;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }


</style>

<h1>Show Found</h1>
<%= link_to("<< List", {:controller => 'founds', :action => 'list'}, :class => 'back-link') %>

<div class="Found show">
  <h1>Show Found</h1>

    <table summary="Found detail view">
        <tr>
            <th>Name  </th>
            <td><%= @found.found_item_name %></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><%= @found.found_item_desc %></td>
        </tr>
        <tr>
            <th>Contact</th>
            <td><%= @found.found_phone_no %></td>
        </tr>
        <tr>
            <th>Date Found</th>
            <td><%= @found.found_date %></td>
        </tr>
        <tr>
            <th>Place Found</th>
            <td><%= @found.found_place %></td>
        </tr>
    </table>
</div>
